@keyframes ldio-s8te3dv2vnh {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-s8te3dv2vnh div {
  left: 80.37px;
  top: 46.17px;
  position: absolute;
  animation: ldio-s8te3dv2vnh linear 1s infinite;
  background: #a2c8f2;
  width: 10.26px;
  height: 20.52px;
  border-radius: 5.13px / 9.439200000000001px;
  transform-origin: 5.13px 39.33px;
}.ldio-s8te3dv2vnh div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8888888888888888s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(2) {
  transform: rotate(40deg);
  animation-delay: -0.7777777777777778s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(3) {
  transform: rotate(80deg);
  animation-delay: -0.6666666666666666s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(4) {
  transform: rotate(120deg);
  animation-delay: -0.5555555555555556s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(5) {
  transform: rotate(160deg);
  animation-delay: -0.4444444444444444s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(6) {
  transform: rotate(200deg);
  animation-delay: -0.3333333333333333s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(7) {
  transform: rotate(240deg);
  animation-delay: -0.2222222222222222s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(8) {
  transform: rotate(280deg);
  animation-delay: -0.1111111111111111s;
  background: #a2c8f2;
}.ldio-s8te3dv2vnh div:nth-child(9) {
  transform: rotate(320deg);
  animation-delay: 0s;
  background: #a2c8f2;
}
.loadingio-spinner-spinner-2nr1u380cc7 {
  width: 171px;
  height: 171px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-s8te3dv2vnh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-s8te3dv2vnh div { box-sizing: content-box; }
