@keyframes ldio-hukxw033oc {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-hukxw033oc div {
  position: absolute;
  width: 61px;
  height: 61px;
  border: 7px solid #7ab8f3;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-hukxw033oc div {
  animation: ldio-hukxw033oc 0.8264462809917356s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-z4n3msyncw {
  width: 77px;
  height: 77px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-hukxw033oc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.77);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hukxw033oc div {
  box-sizing: content-box;
}
